<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="about-profile">
          <img src="profile.jpg" style="border-radius:50%;width:150px;" alt="Chris Angeloni">
          <p style="font-size:12px;padding-top:10px;"> Postdoc studying the neural basis of planning. Likes making bikes, beer and art. </p>
        </div>
        <div class="about-content">
          <h2> {{ page.title }} </h2>

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
